 @charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

.well {
    background-color: rgba(245, 245, 245, 0.5);
}
.badge {
    font-size: 30px;
    background-color: rgb(0, 175, 225);
}

/* images slot fixed width */
img {
    max-width: 100%;
    height: auto;
}

.item {
  /*  width: 180px; */
    min-height: 100px;
    max-height: 100px;
    margin: 0px;
    padding: 0px;
}

a{
	color: #ccd500;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #a9b119;
}
.clear {
    clear: both;
}
html {
    position: relative;
    min-height: 100%;
}
body {
   /* cursor: none;*/
}
b{
	font-weight: 600;
}
 .btn-primary{
     background-color:#005692;
 }
 .vertical-center {
     min-height: 100%; /* Fallback for vh unit */
     min-height: 100vh;
     /* Make it a flex container */
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;

     /* Align the bootstrap's container vertically */
     -webkit-box-align : center;
     -webkit-align-items : center;
     -moz-box-align : center;
     -ms-flex-align : center;
     align-items : center;

     width:100%;
 }

/* Titulos
-------------------------------------------------------------------------*/
h1{
	width: 100%;
	font-size: 40px;
	margin-bottom: 25px;
    color:white;
    text-align: center;
}
h2{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}
h2 span{
	font-weight: 400;
}
h3{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	font-size:40px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 300;
}
h4{
    display: table-cell;
    float: left;
    font-size: 35px;
    line-height: 31px;
    margin: 0 0 0;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

p.title{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.grey {	color:#444;}

.header-line {
    width: 100%;
    position: absolute;
    height: 10px;
    background-color: #A48E4E;
    top: 0px;
}

/*
 * Header
 */
header {
    margin-top: 10px;
	background-color: #DCD293;
    border-bottom: 10px solid #66D4FF;
    border-top: 20px dotted #A48E4E;
    padding: 25px;
}

header p {
	color:#333;
    font-size: 25px;
    text-align: center;
}

header a {
	color: #6C5726;
    font-weight: 700;
}


/*
 * SlotMachine
 */
#randomize {
    height: 400px;
    border-bottom: 10px solid rgb(226, 0, 0);
    background-color: #cc0a1c;
    border-top: 20px dotted rgb(226, 0, 0);
    width: 100% !important;
}

#randomize .row > div.col-xs-4 {
   /* padding-left: 35px;*/
}

#randomize .row > div.col-xs-4 > div {
    padding-top: 40px;
   /* padding-left: 40px;*/
    width: 175px;
    height: 175px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
}

.randomizeMachine {
 /*   width: 140px;
    height: 100px;*/
    width: 175px;
    height: 100px;
    padding-left: 10px
}

.btn-group-randomize {
    margin: 0 auto;
    margin-top: 30px;
    width: auto;
}

.btn-group-randomize div {
    width: auto !important;
}

.btn-group-watch {
    margin-top: 120px;
}

.btn-group-watch .btn {
    border: none;
    background-color: rgb(72, 158, 48);
}
.btn-group-watch .btn:hover, .btn-group-watch .btn:focus {
    background-color: rgb(72, 158, 48);
}

.btn-group-triky {
    margin-top: 60px;
}

/*
 * Casino
 */
#casino {
    border-top: 20px dotted rgb(180, 75, 119);
    border-bottom: 10px solid #A48E4E;
    background-color: rgb(240, 150, 150);
}

#casino h1 {
    margin: 0px;
}

#casino .content:nth-child(1) {
    text-align: center;
    background: url('../img/machine.png') no-repeat 50% 80px;
    height: 580px;
}

#casino .content > div {
    clear:both;
    padding-top: 200px;
    width: 300px;
    margin: 0 auto;
}

.machineContainer{
	background-color: #000;
	padding: 5px 1px 5px 1px;
	overflow: hidden;
	height: 135px;
}

.slotMachine{
	width: 32.333333%;
	border: 5px solid #000;
	height: 100px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	background-color: #ffffff;
}

.btn-group-casino {
    margin-top: 150px;
    margin-left: -32px;
}

.btn-group-casino .btn {
    border: none;
    background-color: rgb(209, 79, 119);
}
.btn-group-casino .btn:hover, .btn-group-casino .btn:focus {
    background-color: rgb(180, 75, 119);
}

/*
 * Footer
 */
footer{
	width:100%;
	background-color: #6C5726;
	border-top: 20px dotted #A48E4E;
    height: 180px;
    padding-top: 40px;
    text-align: center;
    color: #DCD293;
}

#textMachine {
	width:520px;
	height: 67px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}















.machineResult{
	color:#fff;
	text-align:center;
	font-weight: 900;
}
.noBorder{
	border:none !important;
	background: transparent !important;
}
.slotMachine .slot{
	height:100px;
	background-position-x: 55%;
	background-repeat: no-repeat;
}

.slot1 {
	background-image: url("../img/slot1.png");
}

.slot2 {
	background-image: url("../img/slot2.png");
}

.slot3 {
	background-image: url("../img/slot3.png");
}

.slot4 {
	background-image: url("../img/slot4.png");
}

.slot5 {
	background-image: url("../img/slot5.png");
}

.slot6 {
	background-image: url("../img/slot6.png");
}
